<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title> NAVA</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~Shared/_layout.cshtml.css" asp-append-version="true" />
</head>
<body>
    <header>
        <!--Navbar-->
        <nav class="navbar navbar-expand-lg navbar-dark">
            <div class="container">
                <!--Logo-->
                <a class="navbar-brand fs-4 text-black" href="#">NAVA</a>
                <!--Toggle Btn-->
                <button class="navbar-toggler shadow-none border-0" type="button" data-bs-toggle="offcanvas" data-bs-target="#offcanvasNavbar" aria-controls="offcanvasNavbar" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>

                <!--SiderBar-->

                <div class="sidebar offcanvas offcanvas-start" tabindex="-1" id="offcanvasNavbar" aria-labelledby="offcanvasNavbarLabel">
                    <div class="offcanvas-header text-dark border-bottom">
                        <h5 class="offcanvas-title" id="offcanvasNavbarLabel">Offcanvas</h5>
                        <button type="button" class="btn-close btn-close-dark shadow-none" data-bs-dismiss="offcanvas" aria-label="Close"></button>
                    </div>

                    <!--Sidebar Body-->
                    <div class="offcanvas-body">
                        <ul class="navbar-nav  flex-grow-1 pe-3">
                            <li class="nav-item mx-2">
                            <a class="nav-link text-black" asp-area="" asp-controller="Home" asp-action="About">About</a>
                            </li>
                            <li class="nav-item mx-2">
                                <a class="nav-link text-black" asp-area="" asp-controller="Home" asp-action="Documentation">Docs</a>
                            </li>
                            <li class="nav-item mx-2">
                                <a class="nav-link text-black" asp-area="" asp-controller="Home" asp-action="Contact">Contact Us</a>
                            </li>
                        </ul>
                       <!--drodpdown menu-->
                       <div class="d-flex">
                            <ul class="navbar-nav">
                                <li class="nav-item dropdown">

                                    <button class="btn shadow-none" type="button" data-bs-toggle="dropdown" aria-expanded="false">
                                        <img width="24" src="~/dropdown.svg" height="24" alt="dropdown" class="_drop" />
                                    </button>

                                    <ul class="dropdown-menu" aria-labelledby="navbarScrollingDropdown">
                                        <li>
                                            <a class="dropdown-item" asp-area="" asp-controller="Home" asp-action="Profile">Profile</a>
                                        </li>
                                        <li>
                                            <a class="dropdown-item" asp-area="" asp-controller="Login" asp-action="Index">Signout</a>
                                        </li>
                                    </ul>
                                </li>

                            </ul>
                       </div>
                    </div>
                </div>
            </div>
        </nav>
    </header>
    <div class="container">
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>

    <footer class="border-top footer text-black">
        <div class="_footer">
            &copy; 2023 - NAVA
        </div>
    </footer>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
