.navbar {
    background-color: #A8C686;
    justify-content: space-between;
   
}

.footer {
    position: absolute;
    bottom: 0;
    width:100%;
    white-space: nowrap;
    line-height: 60px;
    background-color: #A8C686;
   
}
